* {
    margin: 0;
}

.header {
    display: flex;
}

.bg-gray {
    background-color: #333;
    color: #fff;
}

.header-title {
    width: 20%;
}

.header-menu {
    width: 60%;
}

.header-search {
    width: 20%;
}

.header-menu .menu {
    list-style: none;
}

.header-menu .menu .menu-item {
    float: left;
    padding: 10px;
    cursor: pointer;
}

.menu-item.active {
    background-color: #04AA6D !important;
}

.menu-item:hover {
    background-color: #000;
}

.header-search .form-search {
    height: 100%;
}

.header-search .form-input {
    height: 75%;
    margin: 5px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
}

.main {
    display: flex;
}

.main .sidebar-left {
    width: 20%;
}

.main .content {
    width: 60%;
}

.main .sidebar-right {
    width: 20%;
}

.main .sidebar-left .left-menu {
    list-style: none;
    padding: 0;
}

.main .sidebar-left .left-menu .menu-item {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 25px;
}

.row {
    display: flex;
}

.post-header .row {
    justify-content: space-between;
}

.post-header .post-meta {
    list-style: none;
}

.post-header .post-meta li {
    float: left;
    margin-right: 5px;
}

.post-header .post-meta-item {
    font-weight: bold;
}

.post-content {
    margin-top: 20px;
}

.post-image-block {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}